span.special,li.special{
    color: orange;
    font-weight: bold;
}
li em{
    color: rgb(4, 31, 241);
}
 h1+p{
    font-size: 150%;
 }
 a:hover{
    color: saddlebrown;
    text-decoration: none;
 }
 body h1+p .special{
    color: yellowgreen ;
    background-color: black;
    padding: 5px;
    margin: 5px;
 }