h1{
    color: red;
    
    background-color: aquamarine;
}
p{
    color: blue;
   
}
#id{
    text-align: end;
}

.textColor{
    color: blueviolet;
    font-style:italic;
}
.textSize{
    font-weight:bolder;
    font-family: cursive;
}
h2.txtclr{
    color:aqua;
    background-color: blueviolet;
    text-align: center;
}